<div class="container">
  <div id="login-container">
    <div class="login-background">
      <div class="login-card">
        <div class="main">
          <h1>Chanakya</h1>
        </div>
        <h1 class="login-title">Login</h1>
        <h4 class="login-subtext">Please Enter your Email and Password</h4>
        <form action="" class="login-form">
          <label>
            <input type="text" />
            <span class="placeholder">Enter Email</span>
            <span class="border"></span>
          </label>
          <div class="error-message">Please Enter email</div>

          <label>
            <input type="text" />
            <span class="placeholder">Enter Email</span>
            <span class="border"></span>
          </label>
          <div class="error-message">Please Enter email</div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
